Source/BC19_Bike_Racing/.vs/
Source/BC19_Bike_Racing/Library/
Source/BC19_Bike_Racing/obj/
Source/BC19_Bike_Racing/Temp/
Source/BC19_Bike_Racing/Logs/
Source/BC19_Bike_Racing/UserSettings/Layouts/
Source/BC19_Bike_Racing/.vsconfig
Source/BC19_Bike_Racing/BC19_Bike_Racing.sln
Source/BC19_Bike_Racing/BikeAndCharacter25D.csproj
Source/BC19_Bike_Racing/BikeAndCharacterEditor.csproj
Source/BC19_Bike_Racing/BikeRacingGameTemplate.csproj
Source/BC19_Bike_Racing/BikeRacingTemplateEditor.csproj
Source/BC19_Bike_Racing/BridgeBuilder25DLib.csproj
Source/BC19_Bike_Racing/BridgeBuilder25DLibEditor.csproj
Source/BC19_Bike_Racing/BridgeBuilder25DSettings.csproj
Source/BC19_Bike_Racing/HierarchSelectionEditor.csproj
Source/BC19_Bike_Racing/InputHelpers.csproj
Source/BC19_Bike_Racing/Looping25D.csproj
Source/BC19_Bike_Racing/Looping25DEditor.csproj
Source/BC19_Bike_Racing/Terrain25D.csproj
Source/BC19_Bike_Racing/Terrain25DEditor.csproj
Source/BC19_Bike_Racing/ProjectSettings/ProjectVersion.txt
Source/BC19_Bike_Racing/ProjectSettings/ProjectVersion.txt.meta
Source/BC19_Bike_Racing/Assets/StreamingAssets/
Source/BC19_Bike_Racing/UserSettings/
Source/BC19_Bike_Racing/BuildReports/
